.folder {
  margin-top: 2px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 300px;
}

.file {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 0;
}
